



.assignment-card{
    display: flex;
    box-sizing: border-box;
    height: 171px;
    width: 70vw;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;

}


.assignment-icon-container{
    width: 182px;
    height: 171px;
    background: #5DC687;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assignment-icon{

    font-size: 85px;
    text-align: center;
    color: white;
}


.assignment-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.assignment-text h3 , h4 {
    margin: 0;
}

.assignment-text h3  {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;

color: #555555;
}

.assignment-text h4 {
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #555555;
}
